$prefix: 'sm-';

@import "reset";
@import "fonts";
@import "sm/sm";

html {
  font-family: $fontRegular;
}

html, body, #__nuxt, #__layout {
  height: 100%;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}