$prefix: 'sm-';

// Padding && margin step
$size: 0.25rem;

// Font size start
$fontSize: 0.75rem;

// Response size
$screen: (
        "xs":("width":180px),
        "sm":("width":576px),
        "md":("width":768px),
        "lg":("width":992px),
        "xl":("width":1200px)
);

// Z-index
$z-layout: 2;
$z-menugb: 900;
$z-menu: 901;
$z-popbg: 998;
$z-popup: 999;
$z-popbg-alert: 1000;
$z-popup-alert: 1001;

@import "colors";
@import "bulma";
@import "reset";
@import "fonts";
@import "sm/sm";
@import "layout";
@import "admin";

html, body, #__nuxt, #__layout {
  height: 100%;
  background: map-get($sm-colors, 'fon');
  font-family: $fontRegular;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}