/**
  Variables colors
*/
$sm-colors: (
        'primary':#1e90ff,
        'success':#2ed573,
        'warning':#ffa502,
        'danger':#ff4757,
        'link':#a4b0be,
        'dark':#34495e,
        'user-fon':#ecf8eb,
        'light':#dfe4ea,
        'gray':#ced6e0,
        'gray-1':#a4b0be,
        'gray-2':#747d8c,
        'gray-3':#57606f,
        'gray-4':#2f3542,
        'white':#ffffff,
        'black':#000000
);

@each $name, $value in $sm-colors {
  .#{$prefix}color-#{$name} {
    color: $value !important;
  }
}

@each $name, $value in $sm-colors {
  .#{$prefix}bg-#{$name} {
    background-color: $value !important;
  }
}

@each $name, $value in $sm-colors {
  .#{$prefix}bd-#{$name} {
    border-color: $value !important;
  }
}

@each $name, $value in $sm-colors {
  .#{$prefix}hover-#{$name} {
    &:hover {
      color: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}

@each $name, $value in $sm-colors {
  .#{$prefix}hover-bg-#{$name} {
    &:hover {
      background: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}