/**
  Variables colors
*/
$colors: (
        'primary':#70a1ff,
        'success':#7bed9f,
        'warning':#eccc68,
        'alert':#ff7f50,
        'link':#5352ed,
        'dark':#34495e,
        'user-fon':#ecf8eb,
        'fon': #f1f2f6,
        'light':#dfe4ea,
        'gray':#ced6e0,
        'gray-1':#a4b0be,
        'gray-2':#747d8c,
        'gray-3':#57606f,
        'gray-4':#2f3542,
        'white':#ffffff,
        'black':#000000
);

@each $name, $value in $colors {
  .#{$prefix}color-#{$name} {
    color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bg-#{$name} {
    background-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bd-#{$name} {
    border-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}hover-#{$name} {
    &:hover {
      color: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}

@each $name, $value in $colors {
  .#{$prefix}hover-bg-#{$name} {
    &:hover {
      background: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}