.#{$prefix}button-site {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  padding: 0.8rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  font-family: $fontRegular;
  font-weight: bold;
  font-size: map-get($sizes, 4);

  &:hover {
    opacity: 0.6;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
  }

  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}