/**
  Variables colors
*/
$colors: (
        'color-1': #12174F,
        'color-2': #7F81A5,
        'color-3': #E32A0D,
        'color-4': #f67e5b,
        'color-5': #FCD3CB,
        'color-6': #72670C,
        'color-7': #B9AB3C,
        'color-8': #72440C,
        'color-9': #B9813C,
        'white':#ffffff,
        'black':#000000,
        'green':#27ae60,
        'teal': #16a085,
        'blue':#2793da,
        'red':#c0392b,
        'yellow':#f1c40f,
        'orange':#f39c12,
        'magenta':#8e44ad,
        'dark':#2c3e50,
        'grey':#7f8c8d,
        'smoke':#ecf0f1,
        'light':#dfe6e9,
        'breeze':#dff9fb,
        'fon': #fafafa
);

@each $name, $value in $colors {
  .#{$prefix}color-#{$name} {
    color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bg-#{$name} {
    background-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bd-#{$name} {
    border-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}hover-#{$name} {
    &:hover {
      color: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}