/**
  Variables colors
*/
$colors: (
        'white':#ffffff,
        'black':#000000,
        'green':#27ae60,
        'teal': #16a085,
        'blue':#2793da,
        'red':#c0392b,
        'yellow':#f1c40f,
        'orange':#f39c12,
        'magenta':#8e44ad,
        'dark':#2c3e50,
        'grey':#7f8c8d,
        'smoke':#ecf0f1,
        'light':#dfe6e9,
        'breeze':#dff9fb,

        'sm-fon': #f0f0f0,
        'sm-dark': #333333,
        'sm-orange': #d88844,
        'sm-green': #c7da98,
        'sm-green-d': #9cbc93,
        'sm-grey': #b3b3b3,
        'sm-grey-l': #f1f1f1
);

@each $name, $value in $colors {
  .#{$prefix}color-#{$name} {
    color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bg-#{$name} {
    background-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bd-#{$name} {
    border-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}hover-#{$name} {
    &:hover {
      color: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}

@each $name, $value in $colors {
  .#{$prefix}hover-bg-#{$name} {
    &:hover {
      background: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}