/**
  Variables colors
*/
$colors: (
        'primary':#397cf1,
        'success':#7FBA7A,
        'warning':#FFCE73,
        'alert':#FF754C,
        'dark':#2c3e50,
        'fon': #f6f9fe,
        'rose':#FFA2C0,
        'user-fon':#ECF7FA,
        'grey':#808191,
        'light':#f7f7f7,
        'white':#ffffff,
        'black':#000000
);

@each $name, $value in $colors {
  .#{$prefix}color-#{$name} {
    color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bg-#{$name} {
    background-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}bd-#{$name} {
    border-color: $value !important;
  }
}

@each $name, $value in $colors {
  .#{$prefix}hover-#{$name} {
    &:hover {
      color: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}

@each $name, $value in $colors {
  .#{$prefix}hover-bg-#{$name} {
    &:hover {
      background: $value !important;
      transition: all 1s cubic-bezier(.25, .8, .25, 1);
    }
  }
}