.#{$prefix}layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.#{$prefix}layout-header {
  flex: 0 1 auto;
}

.#{$prefix}layout-content {
  flex: 1 0 auto;
  position: relative;
}

.#{$prefix}layout-footer {
  flex: 0 0 auto;
}

.#{$prefix}footer-line {
  border-bottom: 1px solid map_get($colors, 'grey');
  margin-top: map_get($sizes, 2);
}

.#{$prefix}container {
  max-width: 1200px;
  width: 100%;

  &.center {
    margin: 0 auto;
  }
}