.#{$prefix}menu {
  background: map-get($sm-colors, 'white');
  display: flex;
  flex-direction: column;
  width: 90px;
  transition: all 0.3s ease;
  padding: 0 map-get($sizes, 4);

  &.active {
    width: 300px;
    transition: all 0.3s ease;
  }
}

.#{$prefix}menu-item {
  padding: map-get($sizes, 3) map-get($sizes, 5) map-get($sizes, 3) map-get($sizes, 5);
  border-radius: map-get($sizes, 2);
  color: map-get($sm-colors, 'dark');

  & .icon {
    font-size: map-get($sizes, 6);
    color: map-get($sm-colors, 'dark');
  }

  & .text {
    margin-left: map-get($sizes, 6);
    font-size: map-get($sizes, 4);
    font-weight: 600;
    display: none;

    &.active {
      display: block;
      transition: all 0.3s ease;
    }
  }

  &.link:hover {
    color: map-get($sm-colors, 'gray-1');
    @include animateHover;
  }

  &.is-active, &.nuxt-link-active {
    background: map-get($sm-colors, 'gray-1');
    color: map-get($sm-colors, 'white');

    &:hover {
      color: map-get($sm-colors, 'dark');
    }
  }
}

/**
  Ste page menu head
 */
.#{$prefix}menu-head {
  background: map-get($sm-colors, 'white');
  padding: map-get($sizes, 2);

  & .item {
    color: map-get($sm-colors, 'dark');
    padding: map-get($sizes, 2) map-get($sizes, 4) map-get($sizes, 2) map-get($sizes, 4);
    border-radius: map-get($sizes, 1);
    margin: map-get($sizes, 1);

    &:hover, &.is-active {
      background: map-get($sm-colors, 'dark');
      color: map-get($sm-colors, 'white');
      @include animateHover
    }
  }
}


/**
  Search Menu
 */
.#{$prefix}menu-search {
  background: map-get($sm-colors, 'fon');
  display: flex;
  flex-direction: column;
  width: 300px;
  transition: all 0.3s ease;
  padding: map-get($sizes, 4);
  border-left: 1px solid map-get($sm-colors, 'light');
}

/**
  User search menu
 */
.#{$prefix}menu-search-user {
  & .item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: map-get($sizes, 1);

    & .remove {
      color: map-get($sm-colors, 'alert');
      margin-right: map-get($sizes, 1);
    }

    & .edit {
      color: map-get($sm-colors, 'primary');
      margin-right: map-get($sizes, 1);
    }

    & .name {
      overflow: hidden;
      margin-left: map-get($sizes, 1);
    }
  }
}