.#{$prefix}menu {
  background: map-get($colors, 'white');
  display: flex;
  flex-direction: column;
  width: 90px;
  transition: all 0.3s ease;
  padding: 0 map-get($sizes, 4);

  &.active {
    width: 250px;
    transition: all 0.3s ease;
  }
}

.#{$prefix}menu-item {
  padding: map-get($sizes, 3) map-get($sizes, 5) map-get($sizes, 3) map-get($sizes, 5);
  border-radius: map-get($sizes, 2);
  color: map-get($colors, 'grey');

  & .icon {
    font-size: map-get($sizes, 6);
    color: map-get($colors, 'sm-green');
  }

  & .text {
    margin-left: map-get($sizes, 6);
    font-size: map-get($sizes, 4);
    font-weight: 600;
    display: none;

    &.active {
      display: block;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    color: map-get($colors, 'primary');
    @include animateHover;
  }

  &.is-active {
    background: map-get($colors, 'primary');
    color: map-get($colors, 'grey-l');
  }
}