#editNote {
  max-height: 400px;
  height: 100%;
  overflow: auto;
}

.#{$prefix}ref-title {
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$prefix}ref-desc {
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: $fontLight;
  color: map-get($colors, 'dark');
  text-decoration: none;
}

.#{$prefix}ref-category {
  height: 25px;
  font-family: $fontLight;
  color: map-get($colors, 'alert');
  text-decoration: none;
}

.#{$prefix}ref-link {
  text-decoration: none;
  color: map-get($colors, 'primary');
}