#editNote {
  max-height: 400px;
  height: 100%;
  overflow: auto;
}

.#{$prefix}ref {
}

.#{$prefix}ref-content {
  padding: map-get($sizes, 20) map-get($sizes, 4) map-get($sizes, 4) map-get($sizes, 4);
  display: flex;
  flex-direction: column;
  position: relative;
}

.#{$prefix}ref-content:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, white 60%, rgba(255, 255, 255, 0.6) 80%);
  pointer-events: none;
}


.#{$prefix}ref-title {
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: map-get($colors, 'dark');
  z-index: 1;
}

.#{$prefix}ref-desc {
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: $fontLight;
  color: map-get($colors, 'dark');
  text-decoration: none;
  font-size: 0.8rem;
  z-index: 1;
}

.#{$prefix}ref-category {
  height: 25px;
  font-family: $fontLight;
  color: map-get($colors, 'alert');
  text-decoration: none;
  font-size: 0.8rem;
  z-index: 1;
}

.#{$prefix}ref-link {
  text-decoration: none;
  color: map-get($colors, 'primary');
}

.#{$prefix}site-ref-item {
  margin-top: map-get($sizes, 4);

  & .ref-title {
    font-size: map-get($sizes, 4);
    font-weight: 600;
    padding-bottom: map-get($sizes, 2);
  }

  & .ref-content {
    font-size: map-get($sizes, 4);
    font-family: $fontLight;
  }
}