.#{$prefix}ref {
  width: 220px;
  font-family: $fontLight;
  font-size: 0.75rem;
}

.#{$prefix}ref-img {
  width: auto;
  height: 30px;
}

.#{$prefix}ref-title {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$prefix}ref-line {
  border-bottom: 1px solid map-get($colors, 'grey');
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.#{$prefix}ref-category {
  height: 18px;
}

.#{$prefix}site-ref {
  padding: map-get($sizes, 4);
}

.#{$prefix}site-ref-title {
  font-family: $fontBold;
  font-size: map-get($sizes, 6);
  color: map-get($colors, 'dark');
}

.#{$prefix}site-ref-item {
  margin-top: map-get($sizes, 8);
}

.#{$prefix}site-ref-img {
  max-height: 50px;
  width: auto;
  height: 100%;
}
